In [1]:
type("my name is string")

str

In [4]:
a = 'My name is string'
a
type(a)

str

In [6]:
name = "manjunath kannur is fucking man"
name
type(name)

str

In [9]:
# name = 'Manjunath kannur is fucking man"
# name = "manjunath kannur is fucking "man""
name = 'the rise the "planet"'
name

'the rise the "planet"'

In [10]:
a = 'dogs are "love"'
print(a)

dogs are "love"

In [11]:
a = " my name is 'Queue' 'dark'"
print(a)

 my name is 'Queue' 'dark'

In [12]:
a = """the man is planing is succuess"""
print(a)

the man is planing is succuess

In [13]:
a = """name\
    the values is different"""
a

'name    the values is different'

In [14]:
a = "hello"
a[0]

'h'

In [15]:
name = "my name is Manjunath kannur"
name[0]

'm'

In [16]:
name[0] = 'k'

TypeError: 'str' object does not support item assignment

In [17]:
a = "Dogs are love"
a

'Dogs are love'

In [18]:
a[0]

'D'

In [19]:
a[3]

's'

In [20]:
a[2]

'g'

In [21]:
a[6]

'r'

In [22]:
a[3:4]

's'

In [23]:
a[6:5]

''

In [24]:
a[2:3]

'g'

In [33]:
name = "My name is Manjunath kannur"
name[3:10]
name[11:]
name[11:20]
name[:]
name[8:]
name[:8]
len(name)

27

In [34]:
a = "do you see this"
b = '@@'
a+b

'do you see this@@'

In [36]:
a = 'do you see this'
b = "3666"
a+b

'do you see this3666'

In [39]:
# a = '36'
# b = str(58)
# print(a+b)
a = '36'
b = 18
a+b

TypeError: can only concatenate str (not "int") to str

In [40]:
a = '18'
print(a*2)

1818

In [43]:
a = 18
print(a*2)


'10'+'10'

36

'1010'

In [44]:
city = 'Mangalore'
print('age',31,'city',city)

age 31 city Mangalore

In [45]:
name = "manjunath kannur"
print(f"my name {name}")

my name manjunath kannur

In [2]:
id = 1253975
print(f" My office id {id} now on display in the screen")

 My office id 1253975 now on display in the screen

In [5]:
age = 32
Name = "Manjunath kannur"
print(f"my name is {Name} and My Age is {age} years of old")

my name is Manjunath kannur and My Age is 32 years of old

In [8]:
a = 18
print("i love my job = {0}".format(a))

i love my job = 18

In [9]:
a = 'cats'
print('i love {0}'.format(a))

i love cats

In [11]:
var = "yallammadevi"
print(f"My name is {var}")
print("My name is {0}".format(var))

My name is yallammadevi
My name is yallammadevi

In [13]:
Name = "Manjunath"
Age = 32
print("My name is %s and My age is %s"%(Name,Age))

My name is Manjunath and My age is 32

In [14]:
# python string function
Name = "Hanuman prasanna"
len(Name)

16

In [15]:
def len_function(Name):
    count = 0
    for i in Name:
        count += 1
    return count

len_function("Manjunath")

9

In [17]:
def lower_function(Name):
    return Name.lower()

lower_function("MANJUNATH")

'manjunath'

In [18]:
Name = "Manjunath kannur"
Name.upper()

'MANJUNATH KANNUR'

In [21]:
def lower_function(Name):
    return Name.lower()


lower_function("Kanur")

'kanur'

In [1]:
city = "Muddebihal"
name = "Manjunath kannur"
print(f"My name is {name} and my city {city}")

My name is Manjunath kannur and my city Muddebihal

In [6]:
def display(Name):
    return f"my name is {Name}"

display('hanuman')

'my name is hanuman'

In [9]:
id = 26655899663554771153366999
address = "total number of address is depend on time {0}".format(id)
print(address)

total number of address is depend on time 26655899663554771153366999

In [8]:
address = f"My address is somewhere i have written in the sample to {id}"
print(address)

My address is somewhere i have written in the sample to 26655899663554771153366999

In [1]:
city = "Muddebihal"
Name = "lord krisna"
age = 3650
print(f"My Name is {Name} and the city is {city} the age is {age}")

My Name is lord krisna and the city is Muddebihal the age is 3650

In [3]:
Name = "Manjunath"
print(f"My name is {Name}")

My name is Manjunath

In [4]:
age = 35
print("i love Mehtod {0}".format(age))

i love Mehtod 35

In [5]:
id = 258964753
print("i love is masala{0}".format(id))

i love is masala258964753

In [8]:
Tom = "Manjunath kannur"
print(len(Tom))

def Tommorrow(Name):
    count = 0
    for i in range(len(Name)):
        count += 1
    return count
Tommorrow(Tom)

16

16

In [9]:
mystring = "Book is None to the object"
mystring.lower()

'book is none to the object'

In [10]:
mystring.upper()

'BOOK IS NONE TO THE OBJECT'

In [13]:
whitespace = ' the total number of employees is here '.strip()
# whitespace.strip()
print(whitespace)

the total number of employees is here

In [14]:
a = '7777'
a.isdigit()

True

In [15]:
string = "My name is manjunath kannur"
string.isdigit()

False

In [16]:
3 < 4

True

In [17]:
4 > 3

True

In [18]:
4 > 3

True

In [19]:
3 < 4

True

In [20]:
4 < 3

False

In [21]:
4 < 3

False

In [31]:
a = 7
if a > 6:
    print(f" a is greater than {a}")

 a is greater than 7

In [32]:
if 1:
    print("yy")

yy

In [33]:
if (1 == 1):
    print("111111111")

111111111

In [35]:
a = 18
b = 45

if a < b:
    print("yes it is less than 18")
else:
    print("b is greater than a is 45")

yes it is less than 18

In [37]:
# if 2 < 1:
#     print("2")
if 2 < 1:
    print("yes it is 2")
else:
    print("yes it is 1")

yes it is 1

In [39]:
if 2 < 1:
    print("2")
else:
    print("1")

1

In [40]:
if 2 < 1:
    print("2")
elif 3 < 1:
    print("3")
else:
    print("1")

1

In [41]:
a = 1
b = 2
if a == 1:
    if b == 2:
        print("a is 1 and b is 2")

a is 1 and b is 2

In [42]:
a = 7 
if a > 4:
    print("greater than")

greater than

In [48]:
def Week(i):
    switch = {
        0 : 'Sunday',
        1 : 'Monday',
        2 : 'Tuesday',
        3 : 'Wednesday',
        4 : 'thursday',
        5 : 'Friday',
        6 : 'Saturday'
    }
    return switch.get(i, 'invalid days')

Week(1)

'Monday'

In [49]:
Week(2)

'Tuesday'

In [50]:
Week(3)

'Wednesday'

In [51]:
def Monday():
    return 'Monday'
def Sunday():
    return "Sunday"
def Tuesday():
    return "Tuesday"
def Wednesday():
    return "Wednesday"
def Thurday():
    return "Thursday"
def Friday():
    return "Friday"
def Saturday():
    return "Saturday"



def indirect(i):
    switcher = {
        0 : Sunday,
        1 : Monday,
        2 : Tuesday,
        3 : Wednesday,
        4 : Thurday,
        5 : Friday,
        6 : Saturday
    }
    return switcher.get(i, 'invalid data')

indirect(0)

In [52]:
indirect(2)

In [53]:
languages = ['C++','Python','Scratch']
languages

['C++', 'Python', 'Scratch']

In [56]:
list1=[1,[2,3],(4,5),False,'No']
list1

[1, [2, 3], (4, 5), False, 'No']

In [66]:
list1[3]
list1[1]
type(list1)
type(list1[-2])
type(list1[-3])
type(list1[-4])
list1[-2]
list1[-3]

(4, 5)

In [67]:
languages

['C++', 'Python', 'Scratch']

In [68]:
languages[0] = 'jython'

In [69]:
languages

['jython', 'Python', 'Scratch']

In [70]:
del list1

In [71]:
list1

NameError: name 'list1' is not defined

In [72]:
languages

['jython', 'Python', 'Scratch']

In [73]:
del languages

In [74]:
languages

NameError: name 'languages' is not defined

In [76]:
list1=[1,2,3,4,5,6,7,8]
list1

[1, 2, 3, 4, 5, 6, 7, 8]

In [77]:
list1[0] = 0

In [78]:
list1

[0, 2, 3, 4, 5, 6, 7, 8]

In [79]:
list1[0:1] = 0,1

In [80]:
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [82]:
colors=['red','green','blue']

In [83]:
colors

['red', 'green', 'blue']

In [84]:
days=['Monday','Tuesday','Wednesday',4,5,6,7.0]

In [85]:
days

['Monday', 'Tuesday', 'Wednesday', 4, 5, 6, 7.0]

In [86]:
languages

NameError: name 'languages' is not defined

In [87]:
languages=[['English'],['Gujarati'],['Hindi'],'Romanian','Spanish']

In [88]:
languages

[['English'], ['Gujarati'], ['Hindi'], 'Romanian', 'Spanish']

In [89]:
type(languages)

list

In [90]:
languages=[('English','Albanian'),'Gujarati','Hindi','Romanian','Spanish']

In [93]:
languages[1]

'Gujarati'

In [98]:
type(languages[0])
type(languages[1])
type(languages[2])
type(languages[3])

str

In [99]:
days

['Monday', 'Tuesday', 'Wednesday', 4, 5, 6, 7.0]

In [103]:
days[1]
type(days)
type(days[0])
type(days[2])

str

In [104]:
languages=[['English'],['Gujarati'],['Hindi'],'Romanian','Spanish']
print(languages)

[['English'], ['Gujarati'], ['Hindi'], 'Romanian', 'Spanish']

In [105]:
languages

[['English'], ['Gujarati'], ['Hindi'], 'Romanian', 'Spanish']

In [106]:
languages[0]

['English']

In [107]:
languages[2]

['Hindi']

In [108]:
languages[3]

'Romanian'

In [111]:
indices=['zero','one','two','three','four','five']
indices

['zero', 'one', 'two', 'three', 'four', 'five']

In [113]:
indices[1:3]

['one', 'two']

In [114]:
indices[3:5]

['three', 'four']

In [115]:
indices[:4]

['zero', 'one', 'two', 'three']

In [116]:
indices[2:6]

['two', 'three', 'four', 'five']

In [117]:
indices[4:6]

['four', 'five']

In [118]:
indices[:]

['zero', 'one', 'two', 'three', 'four', 'five']

In [119]:
indices[:2]

['zero', 'one']

In [120]:
indices[2:5]

['two', 'three', 'four']

In [121]:
indices[1 : -2]

['one', 'two', 'three']

In [123]:
colors = ['red','green','blue']
colors

['red', 'green', 'blue']

In [124]:
colors = ['caramel','gold','silver','occur']
colors

['caramel', 'gold', 'silver', 'occur']

In [127]:
colors[2:] = ['bronze','good Model']
colors

['caramel', 'gold', 'bronze', 'good Model']

In [129]:
colors=['caramel','gold','silver','occur']
colors

['caramel', 'gold', 'silver', 'occur']

In [130]:
colors[2:3] = ['Manjunath','Kannur']
colors

['caramel', 'gold', 'Manjunath', 'Kannur', 'occur']

In [131]:
colors = ['caremel','gold','silver','occur']
colors[3] = 'Bronze'
colors

['caremel', 'gold', 'silver', 'Bronze']

In [132]:
colors = ['caremal','gold','silver','Bronze','holographic']
colors

['caremal', 'gold', 'silver', 'Bronze', 'holographic']

In [134]:
del colors
colors

NameError: name 'colors' is not defined

In [135]:
colors = ['caremal','gold','silver','Bronze','holographic']

In [136]:
colors

['caremal', 'gold', 'silver', 'Bronze', 'holographic']

In [137]:
del colors[2:3]

In [138]:
colors

['caremal', 'gold', 'Bronze', 'holographic']

In [140]:
del colors[0]
colors

['Bronze', 'holographic']

In [141]:
grocery_list = [['caremal','p&b','jelly'],['onions','potataos'],['floir','oil']]
grocery_list

[['caremal', 'p&b', 'jelly'], ['onions', 'potataos'], ['floir', 'oil']]

In [142]:
a = [[[1,2,3,4],[5,6],7],[8,9]]
a

[[[1, 2, 3, 4], [5, 6], 7], [8, 9]]

In [144]:
a[0][0]

[1, 2, 3, 4]

In [145]:
a[0][1]

[5, 6]

In [146]:
a[0][2]

7

In [147]:
a[1]

[8, 9]

In [148]:
a = [1,2,3,4]
b = [5,6,7,8,9]
a + b

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [149]:
a *=3
a

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [150]:
a = [1,2,3]
a *= 3
a

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [153]:
1 in a

True

In [157]:
25 not in a

True

In [158]:
'null' not in a

True

In [160]:
# iterating on list
list1 = [18,45,36,108,81,42,63,24,54,72,27,12,21]
list1

[18, 45, 36, 108, 81, 42, 63, 24, 54, 72, 27, 12, 21]

In [163]:
# iterating for loop
for i in range(len(list1)):
    if i%2 == 0:
        print("composit number",i)
    else:
        print("not composit number",i)

composit number 0
not composit number 1
composit number 2
not composit number 3
composit number 4
not composit number 5
composit number 6
not composit number 7
composit number 8
not composit number 9
composit number 10
not composit number 11
composit number 12

In [168]:
# python list comprehension
even = [i*2 for i in range(1,11)]
even

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [173]:
even = [i for i in range(1,11) if i%2 == 0]#: print('even') else print("ood")
even

[2, 4, 6, 8, 10]

In [175]:
even = [i*2 for i in range(1,11) if i%2 == 0]
even

[4, 8, 12, 16, 20]

In [179]:
My_list = [18,45,36,108,81,42,63,24,54,72,27,12,21]
My_list
count = 0
for i in My_list:
    count += 1
print(count)

13

In [180]:
def Without_len_function(My_list):
    Count = 0
    for i in range(len(My_list)):
        Count += 1
    return Count
Without_len_function(My_list)

13

In [185]:
def Without_len_function_While(My_list):
    i = 0
    Count = 0
    while (i < len(My_list)):
        Count += 1
        i += 1
    return Count
Without_len_function_While(My_list)

13

In [187]:
def len_function(My_list):
    return len(My_list)

len_function(My_list)

13

In [195]:
def sorted_function(My_list):
    N = len(My_list)
    for i in range(N):
        for j in range(N-i-1):
            if My_list[j] > My_list[j+1]:
                Temp = My_list[j]
                My_list[j] = My_list[j+1]
                My_list[j+1] = Temp
    return My_list

sorted_function(My_list)


def sorted_function(My_list):
    return sorted(My_list)

sorted_function(My_list)

[18, 18, 21, 24, 27, 36, 42, 45, 54, 63, 72, 81, 108]

In [196]:
def Maxmimum_function(My_list):
    highest = 0
    N = len(My_list)
    for i in range(N):
        if My_list[i] > My_list[highest]:
            My_list[highest] = My_list[i]
    return My_list[highest]

Maxmimum_function(My_list)


def Maxmimum_function_while(My_list):
    highest = 0
    i = 0
    N = len(My_list)
    while (i > N):
        if My_list[i] > My_list[highest]:
            My_list[highest] = My_list[i]
        i += 1
    return My_list[highest]

Maxmimum_function_while(My_list)


def Max_function(My_list):
    return max(My_list)


Max_function(My_list)

108

In [197]:
def Minimum_function(My_list):
    minimum = 0
    for i in range(len(My_list)):
        if My_list[i] < My_list[minimum]:
            My_list[minimum] = My_list[i]

    return My_list[minimum]

Minimum_function(My_list)


def Minimum_function_while(My_list):
    minimum = 0
    i = 0
    while (i < len(My_list)):
        if My_list[i] < My_list[minimum]:
            My_list[minimum] = My_list[i]
        i += 1
    return My_list[minimum]

Minimum_function_while(My_list)


def minof_function(My_list):
    return min(My_list)

minof_function(My_list)

18

In [199]:
def sumof_fuction(My_list):
    Count = 0
    for i in range(len(My_list)):
        Count += My_list[i]
    return Count

sumof_fuction(My_list)



def sumof_fuction_while(My_list):
    Count = 0
    i = 0
    while (i < len(My_list)):
        Count += My_list[i]
        i += 1
    return Count
sumof_fuction_while(My_list)



def sum_function(My_list):
    return sum(My_list)

sum_function(My_list)

609

In [200]:
# def new_append_Method(New_list):
x = [4,5]
y = x + [9]
y

[4, 5, 9]

In [210]:
def append_method(My_list):
    new_list = []
    new_list = [My_list[i] for i in range(len(My_list))]
    new_list += [8,1,3,6,9,8,5,6]
    return new_list

append_method(My_list)



def Append_Method(My_list):
    new_list = [5,8,6,955]
    My_list += new_list
    return My_list
Append_Method(My_list)


def append(My_list):
    new_list = []
    for i in range(len(My_list)):
        new_list.append(i)
    return new_list
append(My_list)

def append1(My_list):
    for i in range(9):
        My_list.append(i)
    return My_list

append1(My_list)

def apppend2(new_list):
    for i in range(9):
        new_list.append(i)
    return new_list
new_list = []
apppend2(new_list)

new_list1 = [new_list[i] for i in range(len(new_list))]
new_list1 += [18]
new_list1
new_list

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [224]:
# def insert_Method(new_list,value,position):
#     Mylist = [new_list[i] if position != new_list else value for i in range(len(new_list))]
#     return Mylist

# insert_Method(new_list,18,5)

mylist = [2,5,6]
mylist.insert(2,55)
mylist

new_value = 55
index1 = 2
newlist = [mylist[i] if i != index1 else new_value for i in range(len(mylist))]
mylist

[2, 5, 55, 6]

In [236]:
def insertion_Method(newlist, new_value ,index_value):
    new_list = [newlist[i] if i != index_value else new_value for i in range(len(newlist))]
    return new_list

mylist = [1,3,6]
insertion_Method(mylist,18,2)


def insertion(mylist):
    return mylist.insert(2,36)

insertion(mylist)
mylist

[1, 3, 36, 6]

In [245]:
# def inway(newlist,index_value,new_value):
#     new_way = [newlist[i] if i != index_value else new_value for i in range(len(newlist))]
#     return new_way

# inway(newlist ,2 , 36)

def remove_Method(newlist , remove):
    new_list = []
    for i in newlist:
        if i != remove:
            new_list.append(i)
    return new_list

newlist = [2,5,6,9,8]

remove_Method(newlist,6)


def remove(newlist,item):
    return newlist.remove(item)

remove(newlist,5)
newlist

[2, 6, 9, 8]

In [4]:
def Decorator(func):
    def wrapper():
        print("first statement")
        result = func()
        print("second statemend")
        return result
    return wrapper
@Decorator
def sayhi():
    print("middle fast virification")


sayhi()

first statement
middle fast virification
second statemend

In [8]:
def Decor1(func):
    def wrap():
        print("$")
        func()
        print("#")

    return wrap
@Decor1
def sayhello():
    print("hello")


# newfunc = Decor1(sayhello)
# newfunc()

sayhello()

$
hello
#

In [12]:
def Decoratordivide(func):
    def wrapper(a,b):
        if b == 0:
            print("cant be divided ")
            return
        return func(a,b)
    return wrapper
@Decoratordivide
def devide(a,b):
    return a*b

devide(2,4)

8

In [14]:
def func1(msg):
    def func2():
        print(msg)
    func2()

func1('hello dear')

hello dear

In [19]:
def multiDecor(func):
    def wrapper_function(a ,b):
        if b == 0:
            print("can't be deleted")
            return 
        return func(a,b)
    return wrapper_function

@multiDecor
def multplication(a,b):
    return a*b


multplication(2,18)

36

In [26]:
def printmsg(msg):
    def wrapper():
        result = msg()
        return result
    return wrapper
@printmsg
def sayhello():
    print("hello my friend".upper())

sayhello()

HELLO MY FRIEND

In [28]:
def Counter():
    i = 0
    while (i < 9):
        yield i 
        i += 1

Counter()

In [29]:
for i in Counter():
    print(i)

0
1
2
3
4
5
6
7
8

In [32]:
def even_odd(x):
    i = 0
    while (i < x):
        if (x % 2 == 0):
            yield 'even'
        else:
            yield 'odd'
        x -= 1

for i in even_odd(5):
    print(i)

odd
even
odd
even
odd

In [35]:
def mygen(x):
    i = 7
    while (i > 0):
        yield i
        i -= 1

for i in mygen(5):
    print(i)

7
6
5
4
3
2
1

In [36]:
def generator():
    for i in range(9):
        yield i


for i in generator():
    print(i)

0
1
2
3
4
5
6
7
8

In [43]:
evens=[2,4,6,8,10]
mynew = iter(evens)
next(mynew)
next(mynew)

4

In [45]:
class fruit:
    "pass the next"

fruit

__main__.fruit

In [47]:
class fruit:
    "this class is instace of fruits"
    color = ''

    def sayhello(self):
        print("my name is spuer hero")

fr = fruit()
fr.sayhello()
fr.color

my name is spuer hero

''

In [53]:
class try1:
    def saysomething(self):
        def hellowrod():
            print("hanuman")
        hellowrod()
    print("my name is manjunath")


obj = try1()
obj.saysomething()

my name is manjunath
hanuman

In [54]:
om = try1()
om.saysomething()

hanuman

In [56]:
class fruit:
    def size(self,x):
        print(f"my size is {x}")


ff = fruit()
ff.size(9)

my size is 9

In [57]:
class fruit:
    def __init__(self,color,size):
        self.color = color
        self.size = size

    def solution(self):
        print(f"my color is {self.color} and my size is {self.size}")


one = fruit('red',36)
one.solution()

my color is red and my size is 36

In [60]:
class fruit:
    size = 'small'
    def __init__(self,color,shape):
        self.color = color
        self.shape = shape
    def salution(self):
        print(f"my color is {self.color} and shape is {self.shape}")


ff = fruit('red','hack')
ff.salution()
ff.color
ff.size

my color is red and shape is hack

'small'

In [61]:
orange = fruit('mask','your')
orange.color
orange.shape

'your'

In [62]:
class fruit:
    def __init__(self,name , age):
        self.name = name
        self.age = age

    def solution(self):
        print(f"my name is {self.name} and my age {self.age}")


orange = fruit('manjunath',58)
orange.solution()

my name is manjunath and my age 58

In [63]:
class fruit:
    def __init__(self,model , brand , color, fuel):
        self.brand = brand
        self.model = model
        self.color = color
        self.fuel = fuel
    
    def start(self):
        pass 

    def halt(slef):
        pass

    def sppedup(self):
        pass

In [66]:
thank = fruit('M1v1','red','stack','the invest')
thank.sppedup()
thank.brand
thank.fuel

'the invest'

In [69]:
class fruit:
    def __init__(self):
        pass
    def method(self,name):
        print(f"my name is {name}")

obj = fruit()
obj.method('manjunath')

my name is manjunath

In [70]:
class Animal:
    def __init__(self,gender,species):
        self.gender = gender
        self.species = species

    def display(self):
        print(f"to every day is larger big {self.gender} and the information{self.species}")


giga = Animal('male','human')
giga.display()

to every day is larger big male and the informationhuman

In [71]:
class try2:
    def helloword(self):
        print("hello")

objj = try2()
objj.helloword()

hello

In [72]:
class fruit:
    def selfsat(self,state):
        print(f"my state is {state}")

f = fruit()
f.selfsat('karanatak')

my state is karanatak

In [73]:
class result:
    def __init__(self,math,pysics ,pychology,science):
        self.math = math
        self.pysics = pysics
        self.pychology = pychology
        self.science = science

    def printavg(self):
        print(f'average is {self.math + self.science + self.pychology+self.pysics/4}')


rm = result(25,36,85,96)
rm.printavg()

average is 215.0

In [74]:
class Led:
    def __init__(self):
        self.lil = False


o = Led()
o.lil

False

In [76]:
class Try122:
    def __init__(thisob , name):
        thisob.name = name

    def display(thisob):
        print(f"{thisob.name} name is someting")


obj = Try122('manjunath')
obj.display()

manjunath name is someting

In [77]:
class mythod:
    val = 31.4

mythod.val

31.4

In [83]:
class three:
    def func(self,val):
        self.val = val
        # print(f"{self.val}")


th = three()
th.func(85)
th.val
th.func(6)
th.val

6